{% load static %}
<footer class="bg-light text-center pb-2 border-top">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-muted" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-muted" href="#">Translate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-muted" href="#">Profile</a>
    </li>
  </ul>

  <img src="{% static 'images/logo.png' %}" alt="logo" width="30px" height="30">

  <p>Copyright &#169; <span id="year"></span></p>

</footer>